/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }


a {
	color: #c0392b;
	text-decoration: none;
}

a:hover,
a:active {
	color: #333;
}

button {
	border: none;
	padding-top:10px;
	padding: 0em 1em 1em 1em;
	background: rgba(0,0,0,0);
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 4px;
}

#btnmodal{
  font-family:'Open Sans', sans-serif;
  font-size: 16px;
  font-weight:600;
  text-decoration: none;
  color: #272727;
  background-color: rgba(255,255,255,0.7);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  padding: 10px 25px 10px 25px;
}
#btnmodal:hover{
	background-color: rgba(255,255,255,1);
  font-weight:600;
  border-radius: 20px;
  -moz-border-radius: 20px;
  padding: 10px 25px 10px 25px;
  -webkit-border-radius: 20px;
  cursor:pointer;
}
	
#btnhome{
    top : 17px;
    position: relative;
	
}

button:hover {
	color: #9B9B9B;
	font-size: 1em;
}

@media screen and (max-width: 46.0625em) {
	.column {
		width: 100%;
		min-width: auto;
		min-height: auto;
		padding: 1em; 
	}

	.column p {
		text-align: left;
		font-size: 1.5em;
	}

	.column:nth-child(2) {
		box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
	}
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}